.root {
    composes: bubble from global;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.image {
    width: 250px;
    height: 250px;
}