.root {
    composes: white-card from global;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.input {
    margin-left: 10px;
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: 20px;
}