.root {
    /*========== Box, Drop & Text Shadow ==========*/
    --box-shadow-inset: inset 0 22px 56px -36px rgba(255, 255, 255, 0.5),
        inset 0 4px 5px -4px rgba(255, 255, 255, 1),
        inset 0 -31px 34px -32px rgba(96, 68, 144, 0.3),
        inset 0 39px 50px -34px rgba(202, 172, 255, 0.3),
        inset 0 2px 9px rgba(154, 146, 210, 0.3),
        inset 0 1px 10px rgba(227, 222, 255, 0.2);

    --drop-shadow: 0 0 8px rgba(161, 165, 247, 0.8);

    --text-shadow: 0 0 8px rgba(161, 165, 247, 0.8);

    --box-shadow-inset-button: inset 0 2px 7px -9px rgba(255, 255, 255, 0.5),
        inset 0 1px 2px -1px rgba(255, 255, 255, 1),
        inset 0 -20px 16px -32px rgba(96, 68, 144, 0.3),
        inset 0 28px 25px -24px rgba(202, 172, 255, 0.3),
        inset 0 1px 4px rgba(154, 146, 210, 0.3),
        inset 0 1px 10px rgba(227, 222, 255, 0.2);

    /*========== Box, Drop & Text Shadow Hover ==========*/
    --box-shadow-inset-hover: inset 0 19px 28px -18px rgba(255, 255, 255, 0.5),
        inset 0 4px 6px -3px rgba(255, 255, 255, 1),
        inset 0 -51px 44px -42px rgba(96, 68, 144, 0.3),
        inset 0 59px 60px -32px rgba(202, 172, 255, 0.3),
        inset 0 4px 16px rgba(154, 146, 210, 0.3),
        inset 0 2px 25px rgba(227, 222, 255, 0.23);

    --drop-shadow-hover: 0 0 14px rgba(161, 165, 247, 0.8);

    --text-shadow-hover: 0 0 14px rgba(161, 165, 247, 0.8);

    --box-shadow-inset-button-hover: inset 0 4px 7px -4px rgba(255, 255, 255, 0.5),
        inset 0 1px 2px -1px rgba(255, 255, 255, 1),
        inset 0 -20px 16px -32px rgba(96, 68, 144, 0.3),
        inset 0 28px 25px -20px rgba(202, 172, 255, 0.3),
        inset 0 1px 4px rgba(154, 146, 210, 0.3),
        inset 0 1px 16px rgba(227, 222, 255, 0.2);

    /*========== Filter Blur ==========*/
    --filter-blur: blur(100px);

    background: rgba(255, 255, 255, 0.01);
    color: var(--text-color-light);
    box-shadow: var(--box-shadow-inset);
    backdrop-filter: var(--filter-blur);
    text-align: center;
    transition: box-shadow 0.2s ease-in;
    height: 100%;
    width: 100%;
}

.optionalHover {
    box-shadow: var(--box-shadow-inset-button-hover);
}

.rounded {
    border-radius: 3rem;
}

.circle {
    border-radius: 50%;
}
