@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  display: flex;
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root {
    /*========== Box, Drop & Text Shadow ==========*/
    --box-shadow-inset: inset 0 22px 56px -36px rgba(255, 255, 255, .5), 
                        inset 0 4px 5px -4px rgba(255, 255, 255, 1), 
                        inset 0 -31px 34px -32px rgba(96, 68, 144, .3), 
                        inset 0 39px 50px -34px rgba(202, 172, 255, .3), 
                        inset 0 2px 9px rgba(154, 146, 210, .3), 
                        inset 0 1px 10px rgba(227, 222, 255, .2);

    --drop-shadow: 0 0 8px rgba(161, 165, 247, .8);

    --text-shadow: 0 0 8px rgba(161, 165, 247, .8);

    --box-shadow-inset-button: inset 0 2px 7px -9px rgba(255, 255, 255, .5), 
                               inset 0 1px 2px -1px rgba(255, 255, 255, 1), 
                               inset 0 -20px 16px -32px rgba(96, 68, 144, .3), 
                               inset 0 28px 25px -24px rgba(202, 172, 255, .3), 
                               inset 0 1px 4px rgba(154, 146, 210, .3), 
                               inset 0 1px 10px rgba(227, 222, 255, .2);


    /*========== Box, Drop & Text Shadow Hover ==========*/
    --box-shadow-inset-hover: inset 0 19px 28px -18px rgba(255, 255, 255, .5), 
                              inset 0 4px 6px -3px rgba(255, 255, 255, 1), 
                              inset 0 -51px 44px -42px rgba(96, 68, 144, .3), 
                              inset 0 59px 60px -32px rgba(202, 172, 255, .3), 
                              inset 0 4px 16px rgba(154, 146, 210, .3), 
                              inset 0 2px 25px rgba(227, 222, 255, .23);

    --drop-shadow-hover:  0 0 14px rgba(161, 165, 247, .8);

    --text-shadow-hover: 0 0 14px rgba(161, 165, 247, .8);

    --box-shadow-inset-button-hover: inset 0 4px 7px -4px rgba(255, 255, 255, .5), 
                                     inset 0 1px 2px -1px rgba(255, 255, 255, 1), 
                                     inset 0 -20px 16px -32px rgba(96, 68, 144, .3), 
                                     inset 0 28px 25px -20px rgba(202, 172, 255, .3), 
                                     inset 0 1px 4px rgba(154, 146, 210, .3), 
                                     inset 0 1px 16px rgba(227, 222, 255, .2);

    /*========== Filter Blur ==========*/
    --filter-blur: blur(100px);
}

.bubble {
  /* background-color: rgba(255, 255, 255, 0.2);
  border-radius: 13px;
  backdrop-filter: blur(10px); */
  background: rgba(255, 255, 255, 0.01);
  color: var(--text-color-light);
  box-shadow: var(--box-shadow-inset);
  backdrop-filter: var(--filter-blur);
  border-radius: 3rem;
  text-align: center;
  transition: box-shadow 0.2s ease-in;
}

.bubble:hover {
  box-shadow: var(--box-shadow-inset-button-hover);
}

.App-link {
  color: #61dafb;
}

html {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
